/*
** IMPORT FONT
*/
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic);

/*
** RESET
** http://meyerweb.com/eric/tools/css/reset/
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/*
** GLOBAL Design
*/
body {
	background: #F3F3F3;
	color: #333;
	font-family: "Droid Serif", Georgia, Times, serif;
	font-size: 14px;
	line-height: 24px;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; margin-bottom: 24px; }
h1 { font-size: 30px; line-height: 30px; margin-bottom: 24px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; line-height: 20px; }
h4 { font-size: 16px; line-height: 20px; }
h5 { font-size: 14px; font-weight: bold; }
h6 { font-size: 12px; font-weight: bold; margin-bottom: 0; }

p { margin: 0 0 24px; }
blockquote { border-left: 4px solid #ddd; margin: 0 0 24px; padding: 0 0 0 10px; }
pre, code { font: 12px Monaco, monospace; }
hr { clear: both; border: none; height: 1px; margin: 0 10px; }

li ul, li ol { margin: 0 24px; }
ul, ol { margin: 0 24px 24px; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }

/* Delete outline effect on focus */
:focus { outline: 0; }

/*
** STRUCTURE (left column)
*/
.left-column {
	background: #222;
	color: #ccc;
	float: left;
	height: 100%;
	left: 0;
	padding: 0 50px;
	position: fixed;
	text-shadow: 0 1px 0 #000;
	width: 320px;
	overflow: auto;
	text-align: center;
	box-shadow: 2px 0px 4px 0px #cfcfcf;
}
	/*
	** Logo
	*/
	.left-column-logo {
		padding-top: 50px;
		padding-bottom: 20px;
		color: #818181;
	}
	/*
	** Menu
	*/
	.left-column-menu {
		border-top: 1px solid #111;
		border-bottom: 1px solid #333;
		list-style: none;
		margin: 0;
	}
		.left-column-menu-element {
			border-top: 1px solid #333;
			border-bottom: 1px solid #111;
		}
			.left-column-menu-link {
				color: #CCC;
				display: block;
				font-size: 13px;
				padding: 5px 0;
				text-transform: uppercase;
				text-decoration: none
			}
			.left-column-menu-link:focus,
			.left-column-menu-link:hover {
				color: #FFA;
			}
/*
** STRUCTURE (right column)
*/
.right-column {
	float: left;
	margin: 0 0 0 420px;
	padding: 50px 0 0 50px;
	text-shadow: 0 1px 0 #fff;
	max-width: 521px;
}
	/*
	** Social links
	*/
	.right-column-social {
		font-size: 13px;
		line-height: 30px;
		margin: 0 10px;
		text-transform: uppercase;
		list-style: none;
		margin: 0;
		overflow: hidden;
	}
		.right-column-social-element {
			border: 1px solid #ddd;
			float: left;
			width: 129px;
			margin-left: -1px;
		}
		.right-column-social-element:first-child {
			margin-left: 0;
		}
			.right-column-social-link {
				color: #555;
				display: block;
				padding: 3px 10px;
				text-decoration: none
			}
			.right-column-social-link {
				color: #555;
				display: block;
				padding: 0 10px;
			}
			.right-column-social-link:focus,
			.right-column-social-link:hover {
				background: #ffffaa;
			}
			.right-column-social-link--twitter:focus,
			.right-column-social-link--twitter:hover {
				background: #D5F2FF;
			}
			.right-column-social-link--google-plus:focus,
			.right-column-social-link--google-plus:hover {
				background: #FFD5D5;
			}
			.right-column-social-link--flickr:focus,
			.right-column-social-link--flickr:hover {
				background: #E8D7FD;
			}
			.right-column-social-link--github:focus,
			.right-column-social-link--github:hover {
				background: #E7E7E7;
			}
/*
** Posts
*/
.post {
	border-bottom: 4px double #DDD;
	padding-top: 50px;
	padding-bottom: 20px;
}
.post:last-child {
	border-bottom: 0;
}

	.post p.first:first-letter {
		color: #333;
		display: inline-block;
		float: left;
		font-size: 46px;
		line-height: 46px;
		margin: 1px 8px 0 0;
	}
	.post a {
		color: #D3511F;
	}
	.post a:focus,
	.post a:hover {
		background: #FFA;
	}
	.post-presentation-title {
		clear: both;
		font-weight: bold;
	}

	.post-img-wrapper {
		background: white;
		padding: 9px;
		max-width: 100%;
		border: 1px solid #DDD;
		margin: 0;
		margin-bottom: 24px;
		line-height: 0;
	}
	.post-img-wrapper:hover {
		box-shadow: 0 0 5px -1px #CCC;
	}
		.post-img-wrapper img {
			width: 100%;
			margin: 0;
			padding: 0;
		}

	.post-img-credit {
		display: block;
		margin-top: -24px;
		margin-bottom: 24px;

		font-size: .8em;
		text-align: right;
	}

	.post-img-credit,
	.post-img-credit a {
		color: #b7b6b6;
	}

	.post-img-wrapper-speaker {
		background: white;
		padding: 5px;
		max-width: 100%;
		border: 1px solid #DDD;
		margin: 0;
		margin-bottom: 24px;
		line-height: 0;
		width: 100px;
		height: 100px;
		float: left;
		border-radius: 100px;
		margin-right: 20px;
		clear: left;
	}
	.post-img-wrapper-speaker:hover {
		box-shadow: 0 0 5px -1px #CCC;
	}
	a .post-img-wrapper-speaker:hover {
		border: 1px #E2C464 solid;
	}
		.post-img-wrapper-speaker img {
			width: 100%;
			margin: 0;
			padding: 0;
			border-radius: 100px;
		}
	.post-img-wrapper-promoter {
		background: white;
		padding: 5px;
		max-width: 100%;
		border: 1px solid #DDD;
		margin: 0;
		line-height: 0;
		width: 150px;
		height: 150px;
		float: left;
		margin-right: 13px;
		clear: left;
	}
	.post-img-wrapper-promoter:hover {
		box-shadow: 0 0 5px -1px #CCC;
	}
	a .post-img-wrapper-promoter:hover {
		border: 1px #64B5E2 solid;
	}
		.post-img-wrapper-promoter img {
			width: 100%;
			margin: 0;
			padding: 0;
		}

/*
** Scroll bar
*/
::-webkit-scrollbar {
	width: 10px;
	height: 16px;
	background: #F3F3F3;
}
::-webkit-scrollbar-corner
	background-color: transparent;
}
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}
body:hover::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3);
}
.left-column::-webkit-scrollbar {
	background: #222;
}
.left-column::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255, 0.2);
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}
.left-column:hover::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255, 0.3);
}

/*
** Some responsiveness
*/
@media all and (max-width: 990px) {
	.left-column {
		float: none;
		position: relative;
		width: 100%;
		padding: 0;
	}
		.left-column-logo {
			padding: 0;
			padding-bottom: 10px;
		}
	.right-column {
		float: none;
		margin: 0;
		padding: 10px;
		padding-top: 25px;
	}
		.right-column-social-element {
			margin-left: 0;
			width: 49%;
		}
	.post {
		padding-top: 25px;
	}
}
