<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>{{{site-title}}}</title>
		<meta name="viewport" content="width=device-width" />
		{{#stylesheet_bundle}}/css/all.css{{/stylesheet_bundle}}
	</head>
<body>
