{{> header }}

<div class="left-column">
	<div class="left-column-logo">
		<a href="#"><img src="img/toulousejs.png" alt="Toulouse JS logo"/></a><br>
		L'évènement JavaScript du Sud-Ouest
	</div>
	<ul class="left-column-menu">
		{{#menu}}
		<li class="left-column-menu-element">
			<a href="{{href}}" class="left-column-menu-link">{{{text}}}</a>
		</li>
		{{/menu}}
	</ul>
</div>
<div class="right-column">
	<ul class="right-column-social">
		{{#social}}
		<li class="right-column-social-element">
			<a href="{{href}}" class="right-column-social-link right-column-social-link--{{class}}" target="_blank">{{text}}</a>
		</li>
		{{/social}}
	</ul>
	{{{content}}}
</div>

{{> footer }}

