.container {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: #fff;
  text-shadow: 0 1px 6px color(#000 a(0.8));
  box-shadow: 0 0 10px color(#000 a(0.2)) inset;
  text-align: center;
  font-size: 3rem;
  line-height: 1.5;
}
